@tailwind base;
@tailwind components;
@tailwind utilities;

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.bg-image {
  background-image: url("/public/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
